logs
.*
# except for .gitignore
!.gitignore
db
eclipse
lib
bin
log
logs
modules
precompiled
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
test-result
server.pid
*.iml
*.eml