@import 'util/helpers.less';
@import 'util/variables.less';



/* Layout */

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #444444;
  font-family: 'Open Sans', sans-serif;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 92px;
  border-bottom: 1px solid #555555;
  z-index: 4;
  .linear-gradient(#333333, #3F3F3F, #222222);
}

#logo {
  text-align: right;
  width: @sidebar;
  
  img {
    height: 72px;
    margin: 10px 15px 10px 0;
  }
}



/* Sidebar */

@import 'sidebar.less';



/* Content */

#content {
  position: absolute;
  left: @sidebar;
  right: 0;
  top: 15px;
  bottom: 0;
  border-radius: 10px 0 0 0;
  z-index: 8;
  overflow: hidden;
}

@import 'console.less';