@(content: String)
<!DOCTYPE html>

<html>
  <head>
    <title>eSCALAtor</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/reset.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("codemirror.css"))"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("codemirror.js"))"></script>
    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("runmode.js"))"></script>
    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("search.js"))"></script>
    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("dialog.js"))"></script>
    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("show-hint.js"))"></script>
    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("clike.js"))"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/routes.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
    <!--
      <script type="text/javascript" src="//use.typekit.net/uwg7nqg.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    -->
  </head>
  
  <body>
    <div id="header">some nice logo</div>
    
    <div id="sidebar">
      <ul>
        <li><a href=""><i class="icon-code"></i><span>Run</span><span class="shortcut">CTRL+Return</span></a></li>
        <li><a href=""><i class="icon-edit"></i><span>Save/Update</span><span class="shortcut">CTRL+S</span></a></li>
        <li><a href=""><i class="icon-code-fork"></i><span>Fork</span><span class="shortcut">CTRL+F</span></a></li>
        <li><a href=""><i class="icon-link"></i><span>Share</span></a></li>
        <li class="active"><a href=""><i class="icon-cogs"></i><span>Settings</span></a></li>
        <li><a href=""><i class="icon-info"></i><span>About</span></a></li>
      </ul>
    </div>
    
    <div id="content">
      <div id="flow" class="cm-s-default"></div>
      <div class="editor">
        <form>
          <textarea id="code" name="code">@content</textarea>
        </form>
      </div>
    </div>
    
  </body>
</html>